<div class="smart-home">

  <section class="smart-home-filter">

    <app-table-search></app-table-search>
    <app-table-select title="All Application" [list]="options">
    </app-table-select>
    <app-table-select title="All Servers" [list]="options2">
    </app-table-select>
    <app-table-select title="Health Check Status" [list]="options3">
    </app-table-select>

  </section>

  <section class="smart-home-table">

    <section class="table-head">

      <div class="flex items-center space-x-4">
        <section class="flex items-center space-x-1">
          <img class="w-6 h-6" src="assets/icons8-pdf-64.png">
          <img class="w-6 h-6" src="assets/icons8-xlsx-64.png">
        </section>
        <section class="text-gray-500">
          showing 10 of 500 entries.
        </section>
      </div>

    </section>

    <section class="table-body">

      <table class="table-auto min-w-full">

        <thead class="">
          <tr>
            <th scope="col">
              SN
            </th>
            <th scope="col">
              Application
            </th>
            <th scope="col">
              Server Mapped
            </th>
            <th scope="col">
              Last Scan Date
            </th>
            <th scope="col">
              Status
            </th>
            <th scope="col">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-SN">1</td>
            <td class="table-items">
              <div class="h-3 w-3 inline-block bg-green-500 rounded-full mr-3"></div>
              <span>Application name goes here</span>
            </td>
            <td class="table-items !text-blue-400 !font-medium">
              3 Servers
            </td>
            <td class="table-items">
              11/12/20 3:45:54pm
            </td>
            <td class="table-items">
              <img class="w-5 h-5" src="assets/icons8-check-circle.svg">
            </td>
            <td class="table-items flex items-center space-x-3">
              <button class="smart-btn" (click)="openDialog()">View Result</button>
              <img class="w-5 h-5 cursor-pointer" src="assets/icons8-menu-vertical-24.png" [matMenuTriggerFor]="menu">
              <mat-menu #menu="matMenu">
                <button (click)="openDeactivate()" mat-menu-item>
                  Deactivate
                </button>
              </mat-menu>
            </td>
          </tr>
          <tr>
            <td class="table-SN">2</td>
            <td class="table-items">
              <div class="h-3 w-3 inline-block bg-green-500 rounded-full mr-3"></div>
              <span>Application name goes here</span>
            </td>
            <td class="table-items !text-blue-400 !font-medium">
              2 Servers
            </td>
            <td class="table-items">
              11/12/20 3:45:21pm
            </td>
            <td class="table-items">
              <img class="w-5 h-5" src="assets/icons8-warning-48.png">
            </td>
            <td class="table-items flex items-center space-x-3">
              <button class="smart-btn" (click)="openDialog()">View Result</button>
              <img class="w-5 h-5 cursor-pointer" src="assets/icons8-menu-vertical-24.png" [matMenuTriggerFor]="menu">
              <mat-menu #menu="matMenu">
                <button (click)="openDeactivate()" mat-menu-item>
                  Deactivate
                </button>
              </mat-menu>
            </td>
          </tr>
          <tr>
            <td class="table-SN">3</td>
            <td class="table-items">
              <div class="h-3 w-3 inline-block bg-red-500 rounded-full mr-3"></div>
              <span>Application name goes here</span>
            </td>
            <td class="table-items !text-blue-400 !font-medium">
              3 Servers
            </td>
            <td class="table-items">
              11/12/20 3:45:32pm
            </td>
            <td class="table-items">
              <img class="w-5 h-5" src="assets/icons8-check-circle.svg">
            </td>
            <td class="table-items flex items-center space-x-3">
              <button class="smart-btn" (click)="openDialog()">View Result</button>
              <img class="w-5 h-5 cursor-pointer" src="assets/icons8-menu-vertical-24.png" [matMenuTriggerFor]="menu">
              <mat-menu #menu="matMenu">
                <button (click)="openDeactivate()" mat-menu-item>
                  Deactivate
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>

      </table>

      <section class="table-footer">

        <div>Previous</div>
        <section class="flex flex-wrap gap-3 items-center">
          <div class="pagination-nums bg-blue-300 font-semibold">1</div>
          <div class="pagination-nums ">2</div>
          <div>
            <img class="w-5 h-5 rotate-90 cursor-pointer" src="assets/icons8-menu-vertical-24.png">
          </div>
          <div class="pagination-nums ">50</div>
        </section>
        <div>Next</div>


      </section>

    </section>

  </section>

</div>
