<div class="smart-cards">

  <section class="smart-cards-box">
    <h3>Application Status</h3>
    <div class="stats">

      <section class="stats-items">
        <div class="stats-items-circle border-2 border-blue-800 text-blue-800">10</div>
        <div>
          <h5>All</h5>
        </div>
      </section>

      <section class="stats-items">
        <div class="stats-items-circle bg-green-800 text-white">6</div>
        <div>
          <h5>Available</h5>
        </div>
      </section>

      <section class="stats-items">
        <div class="stats-items-circle  bg-red-800 text-white">4</div>
        <div>
          <h5>Critical</h5>
        </div>
      </section>

    </div>
  </section>

  <section class="smart-cards-box">
    <h3>Servers</h3>
    <div class="stats">

      <section class="stats-items">
        <div class="stats-items-circle border-2 border-blue-800 text-blue-800">10</div>
        <div>
          <h5>All</h5>
        </div>
      </section>

      <section class="stats-items">
        <div class="stats-items-circle bg-green-600 text-white">6</div>
        <div>
          <h5>Active</h5>
        </div>
      </section>

      <section class="stats-items">
        <div class="stats-items-circle  bg-yellow-600 text-white">4</div>
        <div>
          <h5>Inactive</h5>
        </div>
      </section>

    </div>
  </section>

  <section class="smart-cards-box">
    <h3>Health Check Count</h3>

    <section class="cards-title">
      <div class="text-blue-900 text-4xl">60</div>
      <div>
        <h5>Inactive</h5>
      </div>
    </section>

  </section>

</div>
